<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
</head>
<body>
    <a href="/">Inicio</a>
    <a href="/about/">Sobre mi</a>
    <a href="/blog">Blog</a>

	<h1>Sobre Mí</h1>
    <h2>... ¡y mi nuevo sitio Astro !</h2>

    <p>Estoy trabajando en tutorial introductorio de Astro. Esta es la segunda página de mi sitio web, ¡y es la primera que he contruido yo mismo</p>

    <p>Este sitio se irá sactualizando a medida que vaya completando más partes del tutorial, ¡ así que no dejes de visitarlo para ver como va mi viaje !</p>
</body>
</html>